.img {
  position: relative;
  width: 100%;
  max-width: 1440px;
}

.featureProjects {
  position: absolute;
  bottom: 4px;
  left: 100%;
  transform: translateX(-100%);
  width: 416px;
  background-color: #3559c7;
}

.text1 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 20px;
}

.text2 {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
