.ctaWrapper {
  padding: 0 100px 50px;
  background-color: #f6f8f7;
}

.cta {
  width: 100%;
  max-width: 600px;
}

.cta h2 {
  text-align: center;
  padding: 50px 0 20px;
}

.cta p {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.inputs input {
  width: 292px;
  border-radius: 4px;
  border: 1px solid #e0e3eb;
  height: 41px;
  margin: 0 0 20px;
  padding: 0 25px;
  font-size: 18px;
  line-height: 21px;
}

.inputs input::placeholder {
  font-size: 18px;
  line-height: 21px;
}

.textarea input {
  margin-bottom: 30px;
  width: 600px;
  height: 135px;
  border-radius: 4px;
  border: 1px solid #e0e3eb;
}

.textarea input::placeholder {
  padding: 0 25px;
  font-size: 18px;
  line-height: 21px;
}
