.navitem {
  font-size: 18px;
  color: #14171f;
}

.active {
  font-size: 18px;
  color: #f9995d;
}

.normal {
  color: aqua;
}

li {
  list-style: none;
  text-decoration: none;
}

li a {
  text-decoration: none;
}
